@use "../../assets/styles" as *;

// Resume button
.button {
  @include flex-center;
  width: fit-content;
  border-radius: $radius-lg;
  overflow: hidden;
  will-change: transform;
  transition: all 0.3s ease-in-out;

  &--link {
    @include flex-center;
    background-color: var(--gray-800);
    padding: $space-8 $space-16 $space-8 $space-12;
    border-radius: inherit;
    transition: all 0.3s ease-in-out;

    // Hover state for devices that support hover
    @media (hover: hover) {
      &:hover {
        background-color: var(--gray-700);
      }
    }

    @media (max-width: $breakpoint-md) {
      gap: $space-8;
      padding: $space-12;
    }
  }

  // Active state for click feedback
  &:active {
    border-radius: $radius-2xl;
    transform: scale(0.9);
  }

  &--icon {
    @include flex-center;
    border-radius: $radius-xl;
    width: clamp($space-20, 5vw, $space-32);
    height: clamp($space-20, 5vw, $space-32);

    svg {
      font-size: clamp($font-size-16, 3vw, $font-size-20);
      stroke: var(--gray-200);
      fill: var(--gray-200);
    }
  }

  &--label {
    text-transform: capitalize;
    font-size: clamp($font-size-14, 3vw, $font-size-16);
    font-weight: $fw-bold;
    color: var(--gray-100);
  }
}
