@use "../../assets/styles" as *;

// menu transition
$menu-transition: 0.3s ease-in-out;

// line active color
@mixin line-active-color {
  .menu__trigger-line {
    background-color: var(--black);
  }
}

// menu styles
.menu {
  @include flex-center;
  position: relative;

  // menu trigger styles
  .menu__trigger {
    width: clamp($space-32, 5vw, $space-40);
    height: clamp($space-32, 5vw, $space-40);
    padding: 0 $space-4;
    border-radius: $radius-md;
    overflow: hidden;
    background-color: transparent;
    transition:
      background-color $menu-transition,
      backdrop-filter $menu-transition;

    .menu__trigger-line {
      display: block;
      width: calc(100% - $space-4);
      height: 1px;
      margin: calc($space-8 - 1px) auto;
      background-color: var(--gray-700);
      transition:
        width $menu-transition,
        transform $menu-transition,
        background-color $menu-transition;

      &--first {
        width: 50%;
        transform: translateX(-37%);
      }

      &--third {
        width: 50%;
        transform: translateX(37%);
      }
    }

    @media (hover: hover) {
      &:hover:not(.menu__trigger--active) {
        .menu__trigger-line {
          &--first {
            width: 80%;
            transform: translateX(0);
          }

          &--second {
            width: 50%;
            transform: translateX(30%);
          }

          &--third {
            width: 80%;
            transform: translateX(0);
          }
        }
      }
    }

    &--active {
      .menu__trigger-line {
        background-color: var(--gray-900);
        &--first {
          width: 80%;
          transform: translateX(0) translateY(8px) rotate(45deg);
        }

        &--second {
          width: 0%;
          transform: translateX(0) rotate(0);
        }

        &--third {
          width: 80%;
          transform: translateX(0) translateY(-8px) rotate(-45deg);
        }
      }
    }
  }

  // menu panel styles
  .menu__container {
    @include flex-column;
    gap: calc($space-4 - 2px);
    min-width: 200px;
    position: absolute;
    top: calc(100% + $space-16 - 6px);
    right: 0;
    z-index: $z-dropdown;

    // menu section styles
    .menu__section {
      @include flex-column;
      padding: $space-4;
      background-color: var(--gray-200);
      border: 1px solid var(--gray-300);
      border-radius: $radius-lg;

      .menu__section--title {
        font-size: $font-size-14;
        font-weight: $fw-bold;
        text-transform: uppercase;
        color: var(--gray-900);
        padding: $space-12;
      }
    }

    // theme switcher styles
    .theme__container {
      @include flex-center;
      width: 100%;
      gap: $space-4;
      padding: $space-4;
      border-radius: $radius-lg;
      background-color: var(--gray-300);

      // theme switcher button styles
      .theme__btn {
        @include flex-center;
        width: 50%;
        gap: 1px;
        padding: $space-8;
        border-radius: inherit;
        transition: all 0.3s ease-in-out;

        .theme__label {
          font-size: $font-size-14;
          font-weight: $fw-medium;
          color: var(--gray-700);
        }

        .theme__icon-wrapper {
          @include flex-center;
          width: 20px;
          height: 20px;

          .theme__icon {
            font-size: $font-size-16;
            fill: transparent;
            stroke: var(--gray-700);
          }
        }

        &:active {
          background-color: rgb(var(--gray-900), 0.5);
          scale: 0.95;
        }

        &:not(.active):focus {
          outline: 2px var(--gray-400) solid;
          scale: 0.95;
        }

        // hover styles
        @media (hover: hover) {
          &:not(.active):hover {
            scale: 0.98;
            background-color: var(--gray-400);

            .theme__label {
              color: var(--gray-800);
              font-weight: $fw-bold;
            }

            .theme__icon {
              stroke: var(--gray-800);
              stroke-width: 2px;
            }
          }
        }

        // active styles
        &.active {
          background-color: var(--gray-900);

          .theme__label {
            font-weight: $fw-bold;
            color: var(--white);
          }

          .theme__icon-wrapper {
            .theme__icon {
              fill: var(--white);
              stroke: var(--white);
            }
          }
        }
      }
    }

    // menu link styles
    .links__container {
      @include flex-column;
      gap: 2px;

      .link__item > .link__option {
        @include flex-center;
        justify-content: start;
        width: 100%;
        gap: $space-4;
        padding: $space-12;
        border-radius: $radius-lg;
        background-color: transparent;
        overflow: hidden;
        position: relative;
        transition: all 0.3s ease-in-out;

        .link__label {
          font-size: $font-size-16;
          font-weight: $fw-medium;
          color: var(--black);
        }

        .link__icon--wrapper {
          @include flex-center;
          width: 20px;
          height: 20px;

          svg {
            font-size: $font-size-16;
            fill: var(--black);
          }
        }

        @media (max-width: $breakpoint-md) {
          .link__label {
            font-size: $font-size-14;
          }
          .link__icon--wrapper {
            svg {
              font-size: $font-size-14;
            }
          }
        }

        @media (hover: hover) {
          &:hover {
            background-color: var(--gray-300);
          }
        }

        &:active::after {
          content: "";
          position: absolute;
          width: 100%;
          aspect-ratio: 1 / 1;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) scale(0);
          background-color: var(--gray-800);
          opacity: 0.5;
          border-radius: 50%;
          animation: ripple 1s ease-out;
        }

        &:focus {
          outline: 2px var(--gray-400) solid;
          scale: 0.95;
        }
      }
    }
  }
}

@keyframes ripple {
  100% {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
  }
}
