@use "../../assets/styles" as *;

.share-portfolio-modal {
  @include flex-column;
  align-items: center;
  gap: clamp($space-16, 3vw, $space-20);
  padding: clamp($space-18, 2vw, $space-24);
  border-radius: $radius-lg;
  overflow: hidden;

  .qr {
    @include flex-center;
    width: 250px;
    aspect-ratio: 1 / 1;
    background-color: var(--white);
    border-radius: $radius-lg;
    overflow: hidden;
    box-shadow: 0 0 0 5px var(--gray-400);

    svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
}
