@use "../../assets/styles" as *;

// Navigation
.nav {
  @include flex-center;
  position: relative;
  padding: $space-4;

  // list
  .nav__lists {
    @include flex-between;
    gap: clamp($space-4, 1vw, $space-8);
    height: 100%;

    // item
    .nav__item {
      @include flex-center;

      // link
      .nav__link {
        @include flex-center;
        color: var(--gray-600);
        padding: clamp($space-4, 1vw, $space-8) clamp($space-8, 1vw, $space-12);
        transition: all 0.3s ease-in-out;
        border-radius: $radius-xl;
        overflow: hidden;

        @media (max-width: $breakpoint-md) {
          @include flex-column;
          align-items: center;
          width: 70px;
        }

        // icon wrapper
        .nav__icon--wrapper {
          display: none;
          width: fit-content;
          height: 20px;

          // icon
          svg {
            color: inherit;
            font-size: $font-size-16;
          }

          // show icons on mobile
          @media (max-width: $breakpoint-md) {
            display: block;
          }
        }

        .nav__label {
          color: inherit;
          padding: $space-4 $space-8;
          font-size: $font-size-16;
          font-weight: $fw-medium;

          @media (max-width: $breakpoint-md) {
            padding: 0;
            font-size: $font-size-14;
          }
        }

        // hover slide
        @media (hover: hover) {
          &:not(.active):hover {
            color: var(--gray-700);
            background-color: color-mix(
              in srgb,
              var(--gray-200) 30%,
              transparent
            );
          }
        }

        // active and focus styles for non-active links
        &:active:not(.active),
        &:focus-visible:not(.active) {
          color: var(--gray-900);
          background-color: color-mix(
            in srgb,
            var(--gray-300) 40%,
            transparent
          );
        }

        @include focus-visible;

        // active
        &.active {
          transition: all 0.2s ease-in-out;
          &:active {
            transform: scale(0.95);
          }
          color: var(--gray-900);
          background-color: color-mix(
            in srgb,
            var(--gray-300) 40%,
            transparent
          );

          .nav__label {
            font-weight: $fw-bold;
          }

          @media (max-width: $breakpoint-md) {
            color: var(--gray-900);
            background-color: color-mix(
              in srgb,
              var(--gray-400) 40%,
              transparent
            );
          }

          .nav__icon--wrapper {
            svg {
              scale: 1.4;
              fill: var(--gray-900);
              stroke: var(--gray-300);
            }
          }
        }
      }

      // mobile specific styles for the 2nd and 3rd nav items
      @media (max-width: $breakpoint-md) {
        &:nth-child(3) {
          .nav__link {
            .nav__label {
              letter-spacing: -0.5px;
            }
          }
        }
        &:nth-child(2) {
          .nav__link {
            &.active {
              .nav__icon--wrapper {
                svg {
                  fill: var(--gray-900);
                  stroke: var(--gray-900);
                  stroke-width: 1px;
                }
              }
            }
          }
        }
      }
    }
  }
}
