@use "../../assets/styles" as *;

// header
.header {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: color-mix(in srgb, var(--white) 90%, transparent);
  backdrop-filter: blur(28px);
  z-index: $z-header;

  @media (max-width: $breakpoint-md) {
    padding: 0;
    position: fixed;
  }

  // container
  .container {
    @include container;
    @include flex-between;
    background-color: transparent;
    padding: clamp(calc($space-8 - 2px), 1vw, $space-12) 0;
    border-radius: 0;
  }

  // desktop navigation
  .nav-desktop {
    @media (max-width: $breakpoint-md) {
      display: none;
    }
  }

  // logo
  &__logo {
    position: relative;
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 2px 1px var(--gray-900);
    transition: transform 0.2s ease-in-out;

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:active {
      transform: scale(0.95);
    }

    @media (max-width: $breakpoint-md) {
      width: 30px;
      height: 30px;
      box-shadow: 0 0 1px 1px var(--gray-900);
    }
  }
}

// Mobile bottom nav bar
.mobile-nav {
  display: none;

  @media (max-width: $breakpoint-md) {
    @include flex-center;
    position: fixed;
    bottom: $space-12;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--gray-100);
    border: solid 1px var(--gray-300);
    border-radius: $radius-xl;
    padding: 0 2px;
    z-index: 1000 !important;
  }
}
